.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  img {
    max-width: 100%;
  }
}

#fullpage {
  img {
    max-width: 100%;
  }
  .myContent {
    height: 280px;
  }
}

aside {
  position: fixed;
  width: 48px;
  height: 426px;
  top: 50%;
  margin-top: -213px;
  right: 94px;
  z-index: 11;
  button {
    width: 40px;
    height: 160px;
    text-align: center;
    border-radius: 24px;
    background: #3f5597;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;
    &:last-child {
      margin-top: 44px;
    }
  }
}

.pro-bg-w {
  background: url("../images/pro-bg-w.png") center center no-repeat;
}

.pro-bg-b {
  background: url("../images/pro-bg-b.png") center center no-repeat;
}

.pro-bg-tj {
  background: url("../images/pro-bg-tj.jpg") center center no-repeat;
}

.title {
  font-size: 36px;
  line-height: 60px;
  color: #000;
  text-align: center;
}

.sub-title {
  font-size: 16px;
  line-height: 48px;
  color: #000;
  text-align: center;
}

.industry-style-panel {
  position: relative;
  float: left;
  margin-right: 108px;
  &:last-child {
    margin-right: 0;
  }
  span{
    position: absolute;
    right: 3px;
    top: 3px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    cursor: pointer;
    &.selected{
      background: url("../images/select.png") center no-repeat;
    }
  }
}

.industry-panel-1 {
  overflow: hidden;
  width: 910px;
  margin: 0 auto;
  .jd {
    width: 77px;
    height: 130px;
    background: url("../images/jd.png") center no-repeat;
  }
  .cy {
    width: 107px;
    height: 130px;
    background: url("../images/cy.png") center no-repeat;
  }
  .zb {
    width: 86px;
    height: 130px;
    background: url("../images/zb.png") center no-repeat;
  }
  .fz {
    width: 104px;
    height: 130px;
    background: url("../images/fz.png") center no-repeat;
  }
  .sm {
    width: 101px;
    height: 130px;
    background: url("../images/sm.png") center no-repeat;
  }


}
.industry-panel-2 {
  overflow: hidden;
  width: 714px;
  margin: 46px auto 0;
  .rybh {
    width: 96px;
    height: 130px;
    background: url("../images/rybh.png") center no-repeat;
  }
  .cs {
    width: 113px;
    height: 130px;
    background: url("../images/cs.png") center no-repeat;
  }
  .bld {
    width: 92px;
    height: 130px;
    background: url("../images/bld.png") center no-repeat;
  }
  .qt {
    width: 89px;
    height: 130px;
    background: url("../images/qt.png") center no-repeat;
  }
}
.white-color{
  color: #fff!important;
}
.shop-num,.shop-areas,.shop-icons{
  width: 722px;
  margin: 80px auto;
  li{
    float: left;
    margin-right: 110px;
    &:last-child{
      margin-right: 0;
    }
    span{
      float: left;
      line-height: 30px;
      &.shop-number{
        width: 30px;
        height: 30px;
        line-height: 30px;
        background: #fff;
        border-radius: 50%;
      }
      &:last-child{
        margin-left: 6px;
      }
      &.selected{
        background: url("../images/circle-select.png") center no-repeat;
      }
    }
  }

}
.shop-icons{
  overflow: hidden;
  margin-bottom: 0;
  li{
    //background: url("../images/shop-area.png") center no-repeat;
    position: relative;
    img{
      position: absolute;
      bottom: 0;
    }
    &:first-child{
      margin-right: 113px;
      width: 70px;
      height: 158px;
      img{
        width: 70px;
        height: 70px;
      }

    }
    &:nth-child(2){
      margin-right: 102px;
      width: 88px;
      height: 158px;
      img{
        width: 88px;
        height: 88px;
      }

    }
    &:nth-child(3){
      margin-right: 69px;
      width: 122px;
      height: 158px;
      img{
        width: 122px;
        height: 122px;
      }

    }
    &:last-child{
      margin-right: -19px;
      width: 158px;
      height: 158px;
      img{
        width: 158px;
        height: 158px;
      }

    }
  }
}
.shop-areas{
  margin-top: 28px;
  overflow: hidden;
  span{
    &.shop-area{
      width: 28px;
      height: 28px;
      border: 1px solid #626262 ;
      line-height: 30px;
      background: #fff;
      border-radius: 50%;
    }
    &:last-child{
      color: #000;
    }
    &.selected{
      background: url("../images/circle-select.png") center no-repeat;
    }
  }
}
.analysis{
  width: 728px;
  height: 249px;
  margin: 0 auto;
  .panel{
    float: left;
    margin-right: 103px;
    position: relative;
    &:nth-child(4n){
      margin-right: 0;
    }
    span{
      position: absolute;
      width: 30px;
      height: 30px;
      right: 0;
      top:0;
      &.selected{
        background: url("../images/select.png") center no-repeat;
      }
    }
  }
  .klltj{
    width: 103px;
    height: 91px;
    background: url("../images/klltj.png") center no-repeat;
  }
  .gkhx{
    width: 102px;
    height: 91px;
    background: url("../images/gkhx.png") center no-repeat;
  }
  .gkzlsc{
    width: 109px;
    height: 91px;
    background: url("../images/gkzlsc.png") center no-repeat;
  }
  .cfjdsb{
    width: 105px;
    height: 91px;
    background: url("../images/cfjdsb.png") center no-repeat;
  }
  .ssxd{
    width: 93px;
    height: 91px;
    margin-top: 70px;
    background: url("../images/ssxd.png") center no-repeat;
  }
  .clrlt{
    width: 110px;
    height: 91px;
    margin-top: 70px;
    background: url("../images/clrlt.png") center no-repeat;
  }
  .klxsfx{
    width: 115px;
    height: 91px;
    margin-top: 70px;
    background: url("../images/klxsfx.png");
  }
  .crmxt{
    width: 88px;
    height: 91px;
    margin-top: 70px;
    background: url("../images/crmxt.png") center no-repeat;
  }
}
.submit{
  width: 275px;
  .name,.phone{
    width: 275px;
    margin: 0 auto;
    height: 40px;
    border-bottom: solid 1px #3f5597;
    span{
      float: left;
      font-size: 18px;
      line-height: 40px;
      color: #3f5597;
    }
    input{
      height: 40px;
      font-size: 18px;
      line-height: 40px;
      float: left;
      margin-left: 17px;
      background: transparent;
      color: #000000;
    }
  }
  .name{
    margin-top: 60px;
  }
  .button{
    width: 190px;
    height: 48px;
    line-height: 48px;
    color: #fff;
    text-align: center;
    margin: 40px auto 0;
    border-radius: 24px;
    background: #3f5597;
    font-size: 20px;
    cursor: pointer;
  }
}
.cover{
  display: none;
  width: 832px;
  height: 602px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -416px;
  margin-top: -301px;
  background-image: linear-gradient(-24deg,
          #915dff 0%,
          #45a9fe 100%),
  linear-gradient(
                  #7147c8,
                  #7147c8);
  border-radius: 15px;
  z-index: 12;
  ul{
    width: 456px;
    margin: 0 auto;
    li{
      color: #fff;
      text-align: center;
      &:first-child{
        font-size: 38px;
        line-height: 48px;
        margin-top: 87px;
      }
      &:nth-child(2),&:nth-child(3){
        font-size: 17px;
        line-height: 30px;
      }
      &:nth-child(3){
        margin-top: 153px;
      }
      &:nth-child(4){
        margin-top: 36px;
        overflow: hidden;
        span{
          float: left;
          width: 190px;
          height: 48px;
          border-radius: 24px;
          background-color: rgba(255,255,255, 0.5);
          border: 1px solid #fff;
          font-size: 20px;
          line-height: 48px;
          text-align: center;
          &:first-child{
            margin-left: 30px;
            margin-right: 10px;
          }
          cursor: pointer;
        }
      }
      &:last-child{
        margin-top: 30px;
        font-size: 18px;
        line-height: 30px;
        color: #fff;
      }
    }
  }
}
.pro-cpfa{

}
.cpfa-panel{
  position: relative;
  width: 100%;

}
.cpfa-panel ul{
  width: 66%;
  height: 325px;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -33%;
  margin-top: -26%;
  li{
    float: left;
    width: 23%;
    height: 325px;
    margin-right: 2.3%;
    cursor: pointer;
    &:last-child{
      margin-right: 0;
    }
    a{
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}
.tips{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  .tips-panel{
    width: 400px;
    height: 300px;
    background: #fff;
    text-align: center;
    font-size: 28px;
    line-height: 300px;
    border-radius: 8px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -150px;
    color: #000000;
    cursor: pointer;
  }
  display: none;
}